certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
-e git+https://github.com/Whateverdoa/helloprint_switch_based.git@ee0fc54ca4db01c8f38a946caec97d98fb611a8e#egg=mike_h_s_b
requests==2.31.0
urllib3==2.1.0
